http://localhost:8081 {
  root * /web
  file_server

  # Support client-side routing for Flutter or other SPAs
  try_files {path} /index.html

  handle_path /api/* {
    reverse_proxy postgrest:3000

    header {
      Access-Control-Allow-Origin "*"
      Access-Control-Allow-Methods "GET, POST, OPTIONS"
      Access-Control-Allow-Headers "Authorization, Content-Type"
      Access-Control-Allow-Credentials false
    }
  }
}
